 --exclude=example/ --exclude=test/ --exclude=node_modules/ --exclude=website/ --exclude=docs/ --exclude=docs_old/ --exclude=scripts/ --exclude=e2e/ --exclude= --exclude=.eslintrc --exclude=*.yml --exclude=coverage/ --exclude=.history --exclude=android/.idea --exclude=android/build/ --exclude=.idea --exclude=.history/ --exclude=.github/